@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model MillionTimesVaccinationsApp.ViewModels.MessagesAfterVaccinationViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<form method="get">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="date">Date</label>
                <input value="@ViewData["MessagesDate"]" type="date" class="form-control" id="date" name="date" placeholder="Date">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="doctor">Doctor</label>
                <input value="@ViewData["MessagesDoctor"]" type="text" class="form-control" id="doctor" name="doctor" placeholder="Doctor">
            </div>
        </div>
    </div>
    <div class="col-md-12 text-right">
        <button type="submit" class="btn btn-primary">Apply</button>
        <button asp-action="ClearFilters" type="submit" class="btn btn-secondary">Clear</button>
    </div>
</form>

<p>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Description
            </th>
            <th>
                Date
            </th>
            <th>
                Recommendations
            </th>
            <th>
                Doctor
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MessagesAfterVaccinations) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recommendations)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.MessageId">Details</a>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.MessageId">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.MessageId">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>

<nav aria-label="Page navigation">
    <ul class="pagination">
        @if (Model.PageViewModel.HasPreviousPage)
        {
            <li class="page-item">
                <a asp-route-date="@ViewData["MessagesDate"]" asp-route-doctor="@ViewData["MessagesDoctor"]"
                    asp-action="Index" asp-route-page="@(Model.PageViewModel.PageNumber - 1)" class="page-link">&laquo;</a>
            </li>
        }
        @for (int i = Model.PageViewModel.PageNumber; i < Model.PageViewModel.TotalPages && i < Model.PageViewModel.PageNumber + 3; i++)
        {
            @if (i == Model.PageViewModel.PageNumber)
            {
                <li class="page-item active">
                    <a asp-route-date="@ViewData["MessagesDate"]" asp-route-doctor="@ViewData["MessagesDoctor"]"
                        asp-action="Index" asp-route-page="@i" class="page-link active">@i</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a asp-route-date="@ViewData["MessagesDate"]" asp-route-doctor="@ViewData["MessagesDoctor"]"
                        asp-action="Index" asp-route-page="@i" class="page-link">@i</a>
                </li>
            }
        }
        @if (Model.PageViewModel.HasNextPage)
        {
            <li class="page-item">
                <a asp-route-date="@ViewData["MessagesDate"]" asp-route-doctor="@ViewData["MessagesDoctor"]"
                    asp-action="Index" asp-route-page="@(Model.PageViewModel.PageNumber + 1)" class="page-link">&raquo;</a>
            </li>
        }
    </ul>
</nav>
