@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model IEnumerable<MillionTimesVaccinationsApp.Models.VaccineDose>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vaccine)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dose.DoseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vaccine.VaccineId)
            </td>
            <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.VaccineDoseId">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.VaccineDoseId">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.VaccineDoseId">Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
